# Android Studio / IntelliJ
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/shelf
/.idea/runConfigurations.xml
/.idea/studiobot.xml
/.idea/deviceManager.xml
/.idea/deploymentTargetSelector.xml
/.idea/AndroidProjectSystem.xml
/.idea/compiler.xml
/.idea/inspectionProfiles
/.idea/codeStyles

# Build outputs
/build
/app/build
/captures

# Native build
.externalNativeBuild
.cxx

# OS specific
.DS_Store
Thumbs.db

# Python / IA specific
.venv/
venv/
ia-fisica/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.env

# VS Code
.vscode/
